[Unit]
Description=Update image
After=network-online.target

[Service]
Type=idle
ExecStart=/usr/bin/csip-image update

[Install]
WantedBy=multi-user.target
